<p>Thank you for your purchase. This is your ticket for the NWMUN-Seattle 2018 Delegate Social and is good for
@if(quantity == 1)
  {{quantity}} use:
@else
  {{quantity}} uses:
@endif
</p>

<img src="cid:qrCode" />

<p>
This ticket

<p>
  The Delegate Social will take place on Saturday, November 17th between 9PM and 12AM, featuring DJ Ruel Rockwell.
</p>
